@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Theme overrides */
body {
  @apply selection:bg-indigo-100 selection:text-indigo-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
